S3_ACCESS_KEY=AKIA3
CLOUDFRONT_DOMAIN=cdn.clyvasync.com
DBMSMSQL_CONNECTION=mongodb://localhost:27017/clyvadb
DBMSNSQL_CONNECTION=bolt://localhost:7687
DBMSRSQL_CONNECTION=jdbc:postgresql://localhost:5432/clyvasync_homestay
JWT_SECRET=eyJyb2xlIjoiU3RhZ
PASSWORD_MAIL=yanx nxhz ihur xnpr
PASSWORD_NSQL=65906590
PASSWORD_RABBIT=65906590
PASSWORD_RABBITMQ=65906590
PASSWORD_REDIS=65906590
PASSWORD_RSQL=6590
RABBITMQ_CONNECTION=localhost
REDIS_CONNECTION=localhost
S3_SECRET_KEY=2oEkV5
USERNAME_MAIL=clyvasync@gmail.com
USERNAME_NSQL=neo4j
USERNAME_RABBIT=admin
USERNAME_RSQL=postgres
TURN_SECRET=6sBoB0mZMv*DFg*=
EXTERNAL_IP=103.146.23.159
TURN_REALM=turn.vcebook.io.vn
BUCKET_NAME=myfacebooks3
SPICEDB_KEY=65906590
PASSWORD_PEPPER=eyJyb2xlIjoiU3RhZmYiLCJzd
AUTH_CLIENT_ID=clyvasync-client
AUTH_CLIENT_SECRET=default-secret-must-change
AUTH_REDIRECT_URI=https://localhost:4200/callback
AUTH_LOGOUT_URI=https://localhost:4200/login
S3_REGION=us-east-1
DOCKER_USERNAME=clyvasync
CLIENT_ID=clyvasync-client
CLIENT_SECRET=secret-khong-ma-hoa
REDIRECT_URI=https://localhost:4200/callback
POST_LOGOUT_URI=https://localhost:4200/login