ACCESS_KEY=AK
CLOUDFRONT_DOMAIN=c
DBMSMSQL_CONNECTION=mongodb://localhost:27017/clyvadb
DBMSNSQL_CONNECTION=bolt://localhost:7687
DBMSRSQL_CONNECTION=jdbc:postgresql://localhost:5432/clyvasync
JWT_SECRET=
PASSWORD_MAIL=yanx nx
PASSWORD_NSQL=65906590
PASSWORD_RABBIT=65906590
PASSWORD_RABBITMQ=65906590
PASSWORD_REDIS=65906590
PASSWORD_RSQL=6590
RABBITMQ_CONNECTION=localhost
REDIS_CONNECTION=localhost
SECRET_KEY=2oEkV5KR
USERNAME_MAIL=clyvasyn
USERNAME_NSQL=neo4j
USERNAME_RABBIT=admin
USERNAME_RSQL=postgres
TURN_SECRET=6sBo
EXTERNAL_IP=103.146.2
TURN_REALM=turn.vcebo
BUCKET_NAME=myfacebo
SPICEDB_SECRET=65906
